

{% extends "home.html" %}
{% block content %}
    <h1>Edit Venue</h1>
    <form action="{{url_for('edit_venue',ID=venue['ID'])}}" method="POST" id="update-form">
        <div>
            <label>ID:</label>
            <input type="integer" name="ID" value="{{venue['ID']}}" disabled />
        </div>
        <br>
        <div>
            <label>Name:</label>
            <input type="text" name="Name" value="{{venue['Name']}}" required />
        </div>
        <br>
        <div>
            <label>Place:</label>
            <input type="text" name="Place" value="{{venue['Place']}}" required />
        </div>
        <br>
        <div>
            <label>Capacity:</label>
            <input type="integer" name="Capacity" value="{{venue['Capacity']}}" required/>
        </div>
        <br>
        
        
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

{% endblock %}